td,
th {
    padding: 2px 10px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    padding: 0 20px;
}

.left-side {
    display: inline-flex;
    width: 100%;
}

.heading {
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
}

.search {
    width: 50%;
    padding-bottom: 10px;
}

.text-search {
    width: 90%;
    height: 25px;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #7e7e7e;
    width: 80px;
    height: 80px;
    -webkit-animation: _ngcontent-ng-c1580234120_spin 2s linear infinite;
    animation: _ngcontent-ng-c1580234120_spin 1s linear infinite;
    margin: 15% 48%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}